.footer_container{
    position: fixed;
    bottom: 0;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:rgba(0, 0, 0, 0.53) ;
  }
  .createBy{
    margin-top: 0.3rem;

    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 10px;
  
    min-height: 40px;
    background-color: var(--light_red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  
    color: white;
  }
  .create_data{
    display: flex;

    font-size: 0.7rem;
    gap: 5px;
  }

  .contact_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;

    margin-bottom: 0.3rem;
  }
  .contact_icons{
    width: 1.5rem ;
    height: 1.3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: rgba(44, 44, 44, 0.448);

  }
  .contact_icons i{
    font-size: 1rem;

  }
  .contact_icons i:hover{
    color: blue;
    font-size: 1.2rem;
  }
  a{
    text-decoration: unset;
    color: unset;
  }
